@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-brand-orange: #FB923C;
  --color-brand-red: #C41E3A;
  --color-brand-green: #2D7A3A;
  --color-background: #FAFAF8;
  --font-sans: var(--font-poppins), sans-serif;
}

body {
  background-color: #FAFAF8;
  color: #171717;
  font-family: var(--font-sans);
}

.prose :where(hr) {
  margin-top: 0.75rem !important;
  margin-bottom: 0.75rem !important;
  border-color: #f3f4f6 !important;
}